@font-face {
    font-family: 'FontSecondBox';
    src: local('MyFont'), url(../Assets/Patrick_Hand/PatrickHand-Regular.ttf) format('woff');
  }
  @font-face{
    font-family: 'italicFont';
    src: local('navFont'),url(../Assets/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf)format('woff');
  }
.containerSecond{
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.secondBox_right img{
    width: 150px;
    height: 150px;
    margin-left: 280px;
}
.secondBox_left img{
    margin-left: 100px;
    margin-top: 50px;
}
.secondBox_right h2,.secondBox_right p{
    font-family: 'FontSecondBox';
    color: rgb(5, 134, 128);
    font-weight: bold;
    font-size: 35px;
    margin-left: 250px;
}
.secondBox_right p{
    color: rgb(55, 143, 146);
    margin-left: 150px;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}
.secondBox_top img{
    width: 100%;
    height: 100px;
    margin-top: 80px;
}
.containerThird{
    width: 100%;
    height: 600px;
    margin-top: 121px;
    background-color: #fff;
    background: linear-gradient( white,rgb(146, 219, 214),white);
}
.containerThird h2{
    font-family: 'italicFont';
    color: rgb(65, 9, 9);
    transform: rotate(-4deg);
    font-size: 45px;
    text-align: center;
    padding-top: 40px;
}
.containerThird p{
    text-align: center;
    font-family: 'FontSecondBox';
    font-size: 45px;
    color: rgb(16, 91, 97);
}
.step_container{
    width: 1100px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.step_img img{
    width: 120px;
    height: 120px;
    margin-left: 90px;
}
.circle{
    width: 50px;
    height: 50px;
    background-color:rgb(228, 119, 186);
    color: white;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    padding-top: 14px;
    margin-left: 40px;
    margin-left: 135px;
}
.imgArrow img{
    width: 40px;
    height: 40px;
    margin-left: 235px;
}
.tooltipStyle{
    font-family: 'italicFont';
    color: rgb(211, 23, 54);
    font-size: 20px;
}
.wave img{
    width: 100%;
    height: 80px;
    margin-top: 80px;
}